<a href="https://colab.research.google.com/github/jmarcano101/data110/blob/main/Movies_Runestonework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [58]:
df=pd.read_csv("/content/movies_metadata.csv").dropna(axis=1, how='all')
df.head()

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
df.shape

(45453, 23)

In [5]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [18]:
budget_df=pd.read_csv("/content/movies_metadata.csv")

In [19]:
filtered_df = budget_df[budget_df["budget"] > 1000000]

In [20]:
print(filtered_df)

                                   belongs_to_collection    budget  \
0      {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1                                                    NaN  65000000
3                                                    NaN  16000000
5                                                    NaN  60000000
6                                                    NaN  58000000
...                                                  ...       ...
45385                                                NaN   1254040
45389                                                NaN   2000000
45395                                                NaN   2000000
45399                                                NaN   2000000
45409                                                NaN   5000000

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
5      [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6      [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
...                                                  ...
45385  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
45389                     [{'id': 35, 'name': 'Comedy'}]
45395                     [{'id': 35, 'name': 'Comedy'}]
45399  [{'id': 10749, 'name': 'Romance'}, {'id': 18, ...
45409  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...

                                   homepage        id    imdb_id  \
0      http://toystory.disney.com/toy-story     862.0  tt0114709
1                                       NaN    8844.0  tt0113497
3                                       NaN   31357.0  tt0114885
5                                       NaN     949.0  tt0113277
6                                       NaN   11860.0  tt0114319
...                                     ...       ...        ...
45385                       http://lmtr.fi/  468707.0  tt5742932
45389                                   NaN  293654.0  tt3761706
45395                                   NaN  100152.0  tt0417949
45399                                   NaN   63281.0  tt1718881
45409                                   NaN   63898.0  tt1110037

      original_language                    original_title  \
0                    en                         Toy Story
1                    en                           Jumanji
3                    en                 Waiting to Exhale
5                    en                              Heat
6                    en                           Sabrina
...                 ...                               ...
45385                fi  Lauri Mäntyvaaran tuuheet ripset
45389                ru                        Корпоратив
45395                ru                              Марс
45399                en                        Про любоff
45409                ru                          Антидурь

                                                overview  popularity  ...  \
0      Led by Woody, Andy's toys live happily in his ...   21.946943  ...
1      When siblings Judy and Peter discover an encha...   17.015539  ...
3      Cheated on, mistreated and stepped on, the wom...    3.859495  ...
5      Obsessive master thief, Neil McCauley leads a ...   17.924927  ...
6      An ugly duckling having undergone a remarkable...    6.677277  ...
...                                                  ...         ...  ...
45385                                                NaN    0.347806  ...
45389  Igor, a furniture store manager, tries to figu...    0.524370  ...
45395  Somewhere deep, deep in Russia there is a town...    0.380933  ...
45399  У девушки Даши, приехавшей с подругой «покорят...    0.121844  ...
45409  Failing to complete an important assignment wi...    0.039793  ...

         status                                            tagline  \
0      Released                                                NaN
1      Released          Roll the dice and unleash the excitement!
3      Released  Friends are the people who let you be yourself...
5      Released                           A Los Angeles Crime Saga
6      Released  You are cordially invited to the most surprisi...
...         ...                                                ...
45385  Released                                                NaN
45389  Released                                                NaN
45395  Released                                                NaN
45399  Released                                                NaN
45409  Released                                                NaN

                                  title  video  vote_average  vote_count  \
0                             Toy Story  False           7.7      5415.0
1                               Jumanji  False           6.9      2413.0
3                     Waiting to Exhale  False           6.1        34.0
5                                  Heat  False           7.7      1886.0
6                               Sabrina  False           6.2       141.0
...                                 ...    ...           ...         ...
45385  Thick Lashes of Lauri Mäntyvaara  False           8.0         1.0
45389                   Corporate Event  False           3.5         4.0
45395                              Mars  False           5.0         2.0
45399                       Pro Lyuboff  False           4.0         3.0
45409                           Antidur  False           1.0         1.0

      Unnamed: 23 Unnamed: 24 Unnamed: 25 Unnamed: 26
0             NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN
3             NaN         NaN         NaN         NaN
5             NaN         NaN         NaN         NaN
6             NaN         NaN         NaN         NaN
...           ...         ...         ...         ...
45385         NaN         NaN         NaN         NaN
45389         NaN         NaN         NaN         NaN
45395         NaN         NaN         NaN         NaN
45399         NaN         NaN         NaN         NaN
45409         NaN         NaN         NaN         NaN

[7208 rows x 27 columns]

In [64]:
import pandas as pd
budget_df = pd.read_csv("/content/movies_metadata.csv")
filtered_df = budget_df[budget_df["budget"] > 1000000]
movie_count = len(filtered_df)
print(f"Number of movies with a budget over 1 million dollars: {movie_count}")

Number of movies with a budget over 1 million dollars: 7208

In [26]:
import collections

In [27]:
budget_lookup = collections.defaultdict(object)

In [32]:
budget_lookup = pd.DataFrame.from_dict(budget_lookup, orient='index')

In [94]:
"/content/movies_metadata.csv" in budget_lookup.index

False

In [102]:
import pandas as pd
movies = pd.read_csv("/content/movies_metadata.csv")
filtered_movies = movies[
    (movies["budget"] > 1000000) & (movies["title"].str.startswith(("A", "B")))
]
movie_count = len(filtered_movies)
print(f"Number of movies: {movie_count}")

Number of movies: 933

In [95]:
budget_lookup.index

RangeIndex(start=0, stop=45453, step=1)

In [96]:
budget_lookup.head()

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,video,vote_average,vote_count,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,Released,NaN,Toy Story,False,7.7,5415.0,NaN,NaN,NaN,NaN
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,NaN,NaN,NaN,NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,NaN,NaN
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,NaN,NaN,NaN,NaN

In [97]:
budget_lookup[budget_lookup.index == "/content/movies_metadata.csv"].sort_index()["budget"]

Series([], Name: budget, dtype: int64)

In [88]:
first_element = sorted_df[[0]]

In [75]:
import numpy as np
budget_lookup_as_and_bs = []
budget_lookup_as_and_bs = np.array(budget_lookup_as_and_bs)
print("How many movies with a budget of over a million dollars and whose title starts with an “A bag of Hammers” or a “Byzantium")

How many movies with a budget of over a million dollars and whose title starts with an “A bag of Hammers” or a “Byzantium

In [37]:
sorted_df = filtered_df.sort_index()

In [61]:
budget_lookup = pd.read_csv("/content/movies_metadata.csv")
movie_count = budget_lookup[budget_lookup['title'] == 'Dead Presidents']['budget'].values[0]
print("budget of dead presidents movie", movie_count)

budget of dead presidents movie 10000000